<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <style>
        .big-text {
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div style="text-align: center">
        <h1>Welcome to the Library 2.0</h1>
        <div class="big-text">
            <a href="/people">Show people</a> &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/books?sort_by_year=true">Show books</a>

<!--            with pagination (page number starts with 0)-->
<!--            <a href="/books?sort_by_year=true&page=0&books_per_page=2">Show books</a>-->
        </div>
    </div>
</body>
</html>