<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New book</title>
    <style>
        input {
            padding: 10px;
            font-size: 24px;
        }
        body {
            font-size: 24px;
            padding: 20px
        }
        .btn {
            border: 1px solid black;
            padding: 10px;
            background-color: orange;
            text-decoration: none;
            color: black;
            font-size: 24px;
            font-family: monospace;
            font-weight: 500;
        }
    </style>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="bookName">Enter book name: </label>
    <input type="text" th:field="*{name}" id="bookName"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/><br/>
    <label for="author">Enter author name: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    <br/><br/>
    <label for="year">Enter year of writing: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
    <br/><br/>
    <input type="submit" value="Create" class="btn"/>
</form>

</body>
</html>